*{
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0; 
    text-align: center; 
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.header-text{
    display: flex;
    align-items: center;
    gap: 20px;

}

.header-logo .header-text h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header-logo .header-text p {
    margin: 0;
    font-size: 20px;
    font-style: italic;
}


.header-nav .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.header-nav .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: solid;
    border-radius: 5px;
    padding: 5px;
}

.header-nav .nav-links li a:hover {
    color: #ffcc00;
}

.header-login {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.header-login input {
    padding: 6px;
    font-size: 14px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
}

.header-login button {
    padding: 6px 15px;
    background-color: #ffcc00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.header-login button:hover {
    background-color: #ff9900;
}



footer {
    width: 100%; 
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
  }


